.dropdown{
    width: 250px;
    height: 0;
    overflow: hidden;
}

.dropdownEntry{
    border: 3px solid blue;
    padding: 8px 8px;
    font-size: 20px;
    cursor: pointer;
    background-color: blue;
    color: white;
    margin-left: 20px;
}

.dropdownEntry:hover + .dropdown{
    height: 270px;
    transition: 0.3s;
}

.dropdown:hover{
    height: 270px;
}

.dropdown .dropdownElement{
    display: block;
    text-decoration: none;
    padding: 12px 12px;
    font-size: 19px;
    border: 4px solid grey;
}

.dropdown a{
    margin: 10px;
}
.dropdown a:hover{
    color: green;
}
