div{
    position: relative;
}

.link1{
    position: absolute;
    top: 0;
    text-decoration: none;
}
.link2{
    position: absolute;
    top: 20px;
    text-decoration: none;
}

.link3{
    position: absolute;
    top: 40px;
    text-decoration: none;
}

.link4{
    position: absolute;
    top: 60px;
    text-decoration: none;
}

