.toggleBut{
    border: 4px solid black;
    font-size: 22px;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 12px 14px;
    z-index: 1;
}


.toggleBar{
    width: 0;
    background-color: black;
    height: 200px;
    overflow: hidden;
    transition: 1s;
    position: relative;
    padding-top: 60px;
}
.toggleBar a{
    text-decoration: none;
    display: block;
    padding: 12px 14px;
    color: pink;
    font-size: 25px;
}


.toggleBar a:hover{
    color: black;
    background-color: green;
}

.toggleBar .closeTag {
    position: absolute;
    right: 0;
    top: 0;
}
